.admin{
  display: flex;
  &__aside{
    width: 20%;
    height: 100vh;
    padding: 40px 20px;
    background-color: #9dd558;
  }
  &__list{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  &__item{
    position: relative;
    background-color: white;
    padding: 12px 30px;
    border-radius: 10px;
    cursor: pointer;
    &-active{
      background-color: rgba(195,195,195,0.87);
      &::before{
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 10px solid green;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }
    }
  }
  &__info{
    display: none;
    padding: 40px 100px;
    width: 80%;
    &-active{
      display: block;
    }
  }
  &__table{
    width: 100%;
    border: 1px solid #9dd558;
    border-collapse: collapse;
    margin-top: 50px;
    &-title{
      border: 1px solid #9dd558;
      width: 40px;
      height: 30px;
    }
    &-info{
      text-align: center;
      border: 1px solid #9dd558;
      width: 80px;
      height: 30px;
    }
    &-btn{
      padding: 3px 9px;
      border-radius: 5px;
      border: none;
      cursor: pointer;
    }
  }
  &__links{
    &-form{
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 50px;
      margin-bottom: 50px;
    }
    &-btn{
      padding: 10px 0;
      min-width: 200px;
      background-color: #9dd558;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      color: white;
    }
    &-input{
      padding: 10px 5px;
      min-width: 380px;
      border: 1px solid rgba(195,195,195,0.87);
      border-radius: 10px;
    }
  }
  &__allTitle{
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
    &:first-of-type{
      margin-top: 50px;
    }
  }
  &__options{
    padding: 0 35px;
    &-nav{
      display: flex;
      align-items: center;
      gap: 20px;
      margin-bottom: 15px;
    }
    &-navigation{
      font-size: 15px;
      font-weight: bold;
    }
    &-select{
      padding: 10px 5px;
      min-width: 200px;
      border-radius: 10px;
    }
    &-desc{
      margin-bottom: 10px;
    }
    &-line{
      border-bottom: 1px solid rgba(195,195,195,0.87);
    }
  }
}
.add{
  background-color: #9dd558;
  color: white;
}
.remove{
  background-color: red;
  color: white;
}