.basket {
  background: rgba(0, 00, 000, 0.4);
  height: 100vh;
  z-index: 100;
  position: fixed;
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #fff;
    position: fixed;
    padding: 30px;
    height: 100vh;
    width: 385px;
    top: 0;
    right: 0;
  }
  &__title {
    @include text($int, normal, 700, 24px, 29px, #000000);
  }
  &__text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 19px;
    &:last-of-type {
      margin-bottom: 24px;
    }
    &-desc {
      @include text($int, normal, 400, 16px, 19px, #000000);
    }
    &-sum {
      @include text($int, normal, 600, 16px, 19px, #000000);
    }
  }
  &__btn {
    @include text($int, normal, 600, 16px, 19px, #fff);
    padding: 12px 0;
    background: #9dd558;
    border-radius: 18px;
    border: 1px solid #9dd558;
    width: 100%;
  }
}

.name {
  font-size: 30px;
  color: red;
  text-align: center;
}
