@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Inter:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  transition: 0.3s;
}

.container {
  max-width: 1050px;
  padding: 0 45px;
  margin: 0 auto;
}

body {
  background-color: #e5e5e5;
}

.floor {
  background-color: white;
}

.header {
  padding: 43px 0 45px;
  border-bottom: 1px solid #EAEAEA;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  display: flex;
}
.header__logo-img {
  width: 40px;
  height: 40px;
}
.header__logo-text {
  margin-left: 16px;
}
.header__logo-title-link {
  font-family: "inter", sans-serif;
  font-style: normal;
  font-weight: 700px;
  font-size: 20px;
  color: #000000;
  text-transform: uppercase;
}
.header__logo-subtitle {
  font-family: "inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #9D9D9D;
}
.header__links {
  display: flex;
}
.header__links-basket {
  display: flex;
}
.header__links-basket-text {
  font-family: "inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #5C5C5C;
  margin-left: 10px;
}
.header__links-favorites {
  margin: 0 30px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper__icon-next {
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  padding: 8px 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  box-shadow: 0px 0px 11px 5px rgba(0, 0, 0, 0.01);
}
.swiper__icon-next:hover {
  transition: 0.2s;
  box-shadow: 0px 0px 11px 5px rgba(0, 0, 0, 0.07);
}
.swiper__icon-prev {
  background-color: white;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  cursor: pointer;
  transform: translateY(-50%) rotate(180deg);
  z-index: 2;
  padding: 8px 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  box-shadow: 0px 0px 11px 5px rgba(0, 0, 0, 0.01);
}
.swiper__icon-prev:hover {
  transition: 0.2s;
  box-shadow: 0px 0px 11px 5px rgba(0, 0, 0, 0.07);
}

.main__swipe-block {
  background-color: #F4EFE9;
  border-radius: 20px;
  max-height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.main__swipe-box {
  position: relative;
  padding: 16px 0 20px 51px;
  min-height: 300px;
}
.main__swipe-box-scn {
  margin: 0;
  padding: 0;
  max-width: 641.18px;
}
.main__swipe-box-desc {
  font-family: "inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  color: #8BB43C;
  margin: 32px 17.45px 10.45px 35px;
}
.main__swipe-box-desc-black {
  color: black;
}
.main__swipe-box-btn {
  position: absolute;
  padding: 14px 60px;
  border-radius: 110px;
  font-family: "inter", sans-serif;
  font-style: normal;
  font-weight: 700px;
  font-size: 16px;
  color: white;
  text-transform: uppercase;
  background-color: #A5D364;
  bottom: 45px;
  left: 27%;
  transform: translate(-50%, -50);
  transition: 0.2s;
}
.main__swipe-box-btn:hover {
  transition: 0.2s;
  transform: scale(1.1);
}
.main__swipe-box-img {
  width: 100%;
}

.main__assort-topContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 37px 0 36px;
  width: 100%;
}
.main__assort-form {
  display: flex;
  align-items: center;
  position: relative;
}
.main__assort-form-input {
  border-radius: 10px;
  border: 1px solid #F3F3F3;
  outline: none;
  padding: 13px 40px 15px 46px;
  max-width: 250px;
}
.main__assort-form-input::-moz-placeholder {
  color: #C4C4C4;
}
.main__assort-form-input:-ms-input-placeholder {
  color: #C4C4C4;
}
.main__assort-form-input::placeholder {
  color: #C4C4C4;
}
.main__assort-form-input::-webkit-search-cancel-button {
  position: absolute;
  right: 18px;
  cursor: pointer;
  color: #5C5C5C;
}
.main__assort-form-icon {
  position: absolute;
  left: 18px;
  top: 50%;
  transform: translateY(-50%);
}
.main__assort-title {
  font-family: "inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  color: black;
}
.main__assort-mainContent {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}
.main__assort-mainContent-shoes {
  border: 1px solid #F3F3F3;
  border-radius: 40px;
  padding: 20px 29px 34px 30px;
  max-width: 210px;
}
.main__assort-mainContent-favorites {
  display: inline-block;
  position: absolute;
  border: 1px solid #F8F8F8;
  border-radius: 7px;
  padding: 9.6px 9.07px 3.59px;
  cursor: pointer;
}
.main__assort-mainContent-favorites:hover {
  transform: scale(1.13);
  background-color: rgba(253, 239, 239, 0.87);
  transition: 0.2s;
}
.main__assort-mainContent-favorites-active {
  display: none;
  position: absolute;
  background-color: #FEF0F0;
  border: 1px solid transparent;
  border-radius: 7px;
  padding: 9.6px 9.07px 3.59px;
  cursor: pointer;
}
.main__assort-mainContent-product-desc {
  font-family: "inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: black;
}
.main__assort-mainContent-product-pricesDesc {
  margin-top: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__assort-mainContent-product-pricesDesc-price {
  font-family: "inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #BDBDBD;
  text-transform: uppercase;
}
.main__assort-mainContent-product-pricesDesc-cost {
  font-family: "inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: black;
}
.main__assort-mainContent-product-pricesDesc-addBask {
  cursor: pointer;
  display: inline-block;
  padding: 5.33px 8.33px;
  border: 1px solid #F2F2F2;
  border-radius: 8px;
  transition: 0.2s;
}
.main__assort-mainContent-product-pricesDesc-addBask:hover {
  transform: scale(1.13);
  background-color: rgba(253, 239, 239, 0.87);
  transition: 0.2s;
}
.main__assort-mainContent-product-pricesDesc-addBask-active {
  cursor: pointer;
  display: none;
  max-height: 32px;
  max-width: 32px;
  padding: 5.33px 8.33px;
  border: 1px solid white;
  border-radius: 8px;
  background: linear-gradient(180deg, #89F09C 0%, #3CC755 100%);
  transition: 0.2s;
}
.main__assort-mainContent-product-pricesDesc-addBask-active:hover {
  transform: scale(1.13);
  transition: 0.2s;
}

.basket {
  transform: translateX(100%);
  background: rgba(0, 0, 0, 0.4);
  height: 100vh;
  width: 100vw;
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
}
.basket.show {
  transform: translateX(0%);
}
.basket__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
  position: fixed;
  padding: 30px;
  height: 100vh;
  width: 385px;
  top: 0;
  right: 0;
}
.basket__title {
  font-family: "inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
.basket__text {
  display: flex;
  justify-content: space-between;
  margin-bottom: 19px;
}
.basket__text:last-of-type {
  margin-bottom: 24px;
}
.basket__text-desc {
  font-family: "inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.basket__text-sum {
  font-family: "inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.basket__btn {
  font-family: "inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  padding: 12px 0;
  background: #9dd558;
  border-radius: 18px;
  border: 1px solid #9dd558;
  width: 100%;
}

.name {
  font-size: 30px;
  color: red;
  text-align: center;
}

.info {
  background: antiquewhite;
  padding: 40px 0;
}
.info__block {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 40px;
  column-gap: 40px;
  row-gap: 40px;
}
.info__card {
  width: calc(25% - 30px);
  background: #ffffff;
  border: 1px solid #f3f3f3;
  border-radius: 40px;
  padding: 20px 40px;
  cursor: pointer;
  transition: 0.2s;
}
.info__card:hover {
  background: #ffffff;
  border: 1px solid #f8f8f8;
  box-shadow: 0 14px 30px rgba(0, 0, 0, 0.05);
  border-radius: 40px;
  transition: 0.2s;
  transform: scale(1.05);
}
.info__desc {
  font-family: "inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  margin: 14px 0;
}
.info__bottom {
  display: flex;
  justify-content: space-between;
}
.info__sel {
  font-family: "inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #bdbdbd;
  text-transform: uppercase;
}
.info__sum {
  font-family: "inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}

.basket__main-topContent {
  padding: 42px 0 40px;
}
.basket__main-topContent-nav {
  display: flex;
  align-items: center;
  gap: 21px;
}
.basket__main-topContent-title {
  font-family: "inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  color: black;
}
.basket__main-topContent-link {
  padding: 8px 14px;
  max-width: 35px;
  max-height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #F2F2F2;
  border-radius: 8px;
}
.basket__main-mainContent-assort {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.main__assort-mainContent-favorites-off {
  display: none;
}
.main__assort-mainContent-favorites-on {
  display: inline-block;
}

.basketNone__main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 240px 0;
}
.basketNone__main-none {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 280px;
}
.basketNone__main-none-text {
  text-align: center;
}
.basketNone__main-none-title {
  margin-top: 24px;
  text-align: center;
  font-family: "inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: black;
}
.basketNone__main-none-desc {
  text-align: center;
  margin: 11px 0 41px;
  font-family: "inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: black;
}
.basketNone__main-none-link {
  padding: 17px 40px 19px;
  background-color: #9DD458;
  border-radius: 18px;
  font-family: "inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: white;
}
.basketNone__main-none-link-icon {
  margin-right: 17px;
}/*# sourceMappingURL=style.css.map */